<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>News</title>
</head>
<style>
    body {
        /* background-color: #b5569db0; */
        background-color: rgb(240, 213, 232);
    }

    .btn-primary {
        background-color: #FF3366;
        border-color: #FF3366;
    }

    .btn-primary:hover {
        background-color: #FF215F;
        border-color: #FF215F;
    }

    a.hover {
        background-color: yellow;
    }

    a.hover-effect:hover {
        background-color: rgb(165, 154, 167);
        color: white;
        cursor: pointer;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="hover-effect navbar-brand font-weight-bold px-4  " href="/">Home</a>
        <a class="hover-effect navbar-brand font-weight-bold px-4  " href="/predict">Prediction</a>
        <a class="hover-effect navbar-brand font-weight-bold px-4  " href="/treatment">Treatment Options</a>
        <a class="hover-effect navbar-brand font-weight-bold px-4  " href="/news">Statistics</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

</header>

<body>
    <div class="container mt-4">
        <h1><b> Key Statistics for Breast Cancer </b></h1>
        <div class="row">


            <br>
            <div class="col-8">
                <h3><b>How common is breast cancer?</b></h3>
                <div class="card mt-3" style="width: 46rem; ">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5> -->
                        <h6 class="card-subtitle mb-2 text-body-secondary">Breast cancer is the most common cancer in
                            women
                            in
                            India, except for skin cancers. It is about 30% (or 1 in 3) of all new female
                            cancers
                            each year.</h6>
                        <h6>The Indian Cancer Society's estimates for breast cancer in the Inida for 2023 are:
                        </h6>
                        <ul>
                            <li>About 297,790 new cases of invasive breast cancer will be diagnosed in women</li>
                            <li>About 55,720 new cases of ductal carcinoma in situ (DCIS) will be diagnosed.</li>
                            <li>About 43,700 women will die from breast cancer.</li>
                        </ul>
                        <p class="card-text">Breast cancer mainly occurs in middle-aged and older women. The median age
                            at
                            the
                            time of breast cancer diagnosis is 62. This means half of the women who developed breast
                            cancer
                            are
                            62 years of age or younger when they are diagnosed. A very small number of women diagnosed
                            with
                            breast cancer are younger than 45.</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5">
                <div class="card" style="width: 24rem;">
                    <img src="static\stats.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-4"><b>Breast cancer survivors in india</b></h3>
        <div class="row">
            <div class="col-8">
                <div class="card mt-3" style="width: 46rem; ">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5> -->

                        <h6><b>The Indian Cancer Society's estimates for breast cancer in the United States for 2023
                                are:</b>
                        </h6>

                        <p class="card-text">Breast cancer survivors in India have triumphed over the disease through
                            treatments like surgery, chemotherapy, and radiation. Their resilience and determination
                            inspire others, while raising awareness about early detection and the importance of support.
                            These survivors exemplify strength and serve as beacons of hope for those facing a breast
                            cancer diagnosis.</p>
                            <p>These survivors serve as an inspiration to others, spreading awareness about the importance of early detection, regular screenings, and access to quality treatment.</p>

                    </div>
                </div>
            </div>
            <div class="col-4 mt-2">
                <div class="card" style="width: 24rem;">
                    <img src="static\trend01.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="mx-4">Trends in India</h2>
        <div class="row mt-2">
            <div class="col-4">
                <div class="card mx-3" style="width: 22rem;">
                    <img src="static\ajco12661-fig-0002-m.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p>Trends for age distribution among UK cancer registry. (Adapted from Cancer Research UK). [Color figure can</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 23rem;">
                    <img src="static\ajco12661-fig-0003-m.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <p>Five-year trends of breast cancer among registries. (Adapted from NCRP 2012–2014).</p>
                    </div>
                </div> 
            </div>
            <div class="col-4">
                <div class="card" style="width: 22rem;">
                    <img src="static\ajco12661-fig-0001-m.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                       <p>Trends for 5-year age distribution among different Indian registries. (Adapted from NCRP 2010–2012). [Color</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>