<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Treatment Options</title>
</head>
<style>
  body {
    /* background-color: #b5569db0; */
    background-color: rgb(240, 213, 232);
  }

  .btn-primary {
    background-color: #FF3366;
    border-color: #FF3366;
  }

  .btn-primary:hover {
    background-color: #FF215F;
    border-color: #FF215F;
  }

  a.hover {
    background-color: yellow;
  }

  a.hover-effect:hover {
    background-color: rgb(165, 154, 167);
    color: white;
    cursor: pointer;
  }
</style>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="hover-effect navbar-brand font-weight-bold px-4  " href="/">Home</a>
      <a class="hover-effect navbar-brand font-weight-bold px-4  " href="/predict">Prediction</a>
      <a class="hover-effect navbar-brand font-weight-bold px-4  " href="/treatment">Treatment Options</a>
      <a class="hover-effect navbar-brand font-weight-bold px-4  " href="/news">Statistics</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </header>

  <div class="container mt-4">
    <h1 class=""><b> How Is Breast Cancer Treated?</b></h1>
    <div class="row">
      <div class="col-8">
        <div class="card mt-3" style="width: 46rem;">
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <h6 class="card-subtitle mb-2 text-body-secondary">Breast cancer is treated in several ways. It depends on
              the kind of breast cancer and how far it has spread. People with breast cancer often get more than one
              kind of treatment.</h6>
             <ul>
              <li><a href="https://www.cancer.org/cancer/types/breast-cancer/treatment/surgery-for-breast-cancer.html#:~:text=This%20surgery%20is%20also%20called,several%20different%20types%20of%20mastectomies."><b>Surgery.</b></a> An operation where doctors cut out cancer tissue.</li>
              <li><a href="https://www.mayoclinic.org/tests-procedures/chemotherapy-for-breast-cancer/about/pac-20384931#:~:text=Chemotherapy%20for%20breast%20cancer%20uses,surgery%2C%20radiation%20or%20hormone%20therapy."><b>Chemotherapy.</b></a> Using special medicines to shrink or kill the cancer cells. The drugs can be pills you take or medicines given in your veins, or sometimes both.</li>
              <li><a href="https://www.cancer.gov/types/breast/breast-hormone-therapy-fact-sheet#:~:text=Hormone%20therapy%20(also%20called%20hormonal,hormones%20on%20breast%20cancer%20cells."><b>Hormonal therapy.</b></a> Blocks cancer cells from getting the hormones they need to grow.</li>
              <li><a href="https://breastcancernow.org/information-support/facing-breast-cancer/going-through-treatment-breast-cancer/targeted-therapy#:~:text=Targeted%20therapy%2C%20also%20called%20biological,features%20of%20your%20breast%20cancer."><b>Biological therapy.</b></a>  Works with your body’s immune system to help it fight cancer cells or to control side effects from other cancer treatments.</li>
              <li><a href="https://www.mayoclinic.org/tests-procedures/radiation-therapy-for-breast-cancer/about/pac-20384940"><b>Radiation therapy.</b></a> Using high-energy rays (similar to X-rays) to kill the cancer cells.</li>
             </ul>
             <!-- <p>Doctors from different specialties often work together to treat breast cancer. Surgeons are doctors who perform operations. Medical oncologists are doctors who treat cancer with medicine. Radiation oncologists are doctors who treat cancer with radiation.</p> -->
             <p>For more information, visit the National Cancer Institute’s <a href="https://www.cancer.gov/types/breast/patient/breast-treatment-pdq#_185">Breast Cancer Treatment Option Overview.</a> This site can also help you <a href="https://www.cancer.gov/about-cancer/managing-care/services">find health care services.</a></p>
          </div>
        </div>
        
      </div>
      
      <div class="col-4">
        <div class="card mt-2" style="width: 24rem;">
          <img src="static\hospital-750.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <p class="card-text">Breast cancer is treated in several ways. It depends on the kind of breast cancer and how far it has spread.</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="mt-3"><b>Clinical Trials</h1>
    <div class="row">
      <div class="col-8">
        <div class="card mt-3" style="width: 46rem;">
          <div class="card-body">
            <p><a href="https://www.cdc.gov/cancer/survivors/patients/clinical-trials.htm">Clinical trials</a> use new treatment options to see if they are safe and effective. If you have cancer, you may want to take part. Visit the sites listed below for more information.</p>
            <ul>
              <li><a href="https://www.nih.gov/health-information/nih-clinical-research-trials-you">NIH Clinical Research Trials and You </a>  (National Institutes of Health)</li>
              <li><a href="https://www.cancer.gov/about-cancer/treatment/clinical-trials">Learn About Clinical Trials </a>(National Cancer Institute)</li>
              <li><a href="https://www.cancer.gov/about-cancer/treatment/clinical-trials/search/">Search for Clinical Trials </a>(National Cancer Institute)</li>
              <li><a href="https://www.clinicaltrials.gov/">ClinicalTrials.gov </a>(National Institutes of Health)</li>
            </ul>
          </div>


    
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>